@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5% !important;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  color: #f8e10f;
  margin-bottom: 20px;
  font-size: "Poppins", sans-serif;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #f8e10f;
  margin-bottom: 20px;
  font-size: "Poppins", sans-serif;
  text-align: center;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  color: #f8e10f;
  margin-bottom: 20px;
  font-size: 2rem;
}

footer {
  background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
  margin: 5px;
  padding: 15px 0;
  text-align: center;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3rem;
  color: rgb(14, 13, 13);
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/FOTOSLOCAL/negroRadora.jpg);
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  margin-top: 0.5px;
  background-image: url(../img/FOTOSLOCAL/amaritriangulo.jpg);
  border-radius: 1rem;
  border-bottom: 8px #e0ae09 #e0ae09 solid;
}
.container-fluid a {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 60px;
  color: #f8e10f;
}
.container-fluid .logo {
  width: 180px;
}
.container-fluid .fuentesNav {
  font-size: 4rem;
  padding-left: 3rem;
  display: flex;
  justify-content: left;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 576px) {
  .container-fluid .fuentesNav {
    font-size: 4rem;
    padding-right: 5%;
  }
}
.container-fluid .nav-link active {
  color: #f8e10f;
}
.container-fluid .nav-link active .nav-link {
  color: rgba(248, 224, 7, 0.6);
}
.container-fluid .paraCelular .navbar-toggler-icon {
  background-color: #f8e10f;
  width: 3rem;
  height: 3rem;
}
@media screen and (max-width: 576px) {
  .container-fluid .paraCelular .navbar-nav .nav-link {
    font-size: 14px;
  }
}
.container-fluid .navbar {
  margin-bottom: 15px;
}
.container-fluid .navbar .navbar-nav .nav-link {
  font-size: 3rem;
  color: rgba(248, 224, 7, 0.6);
}
.container-fluid .menuTotal {
  font-size: 1rem;
  padding-left: 2rem;
  display: flex;
}
.container-fluid .dropdown-item {
  font-size: 2rem;
  background-color: #f8e10f;
}
.container-fluid .redes-sociales {
  margin-top: 30px;
}

.texto-descriptivo {
  background-image: url(../img/FOTOSLOCAL/fondoAtodo.svg);
  padding: 20px;
  border-radius: 10px;
  margin: 16px;
}
.texto-descriptivo h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.texto-descriptivo p {
  font-size: 15px, bold, "Poppins", sans-serif;
  line-height: 1.8;
  color: rgb(238, 236, 219);
}

.custom-carousel {
  border-radius: 10px;
  margin: 30px 12px;
  overflow: hidden;
}
.custom-carousel .carousel-inner img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #f0cd06;
}

.video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.inicio-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(243, 242, 235);
  text-align: center;
}

/*novedades*/
.texto-novedad {
  font-size: 2rem;
  line-height: 1.5;
  color: rgba(247, 216, 44, 0.9921568627);
}

.fecha-novedad {
  font-size: 1rem;
  color: #f8e10f;
}

.novedad {
  border: 1px solid rgba(248, 224, 7, 0.6);
  padding: 4rem;
  margin: 16px;
  text-align: center;
  background-color: rgba(54, 54, 54, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.novedad:hover {
  transform: scale(1.1);
}
@media (max-width: 767px) and (min-width: 576px) {
  .novedad {
    margin-top: 30px;
  }
}

.flash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(250, 232, 181, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flashAnimation 2s ease infinite;
}
.flash-overlay .flash-text {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(14, 13, 13);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
@keyframes flashAnimation {
  0%, 25% {
    opacity: 1;
  }
  50%, 75% {
    opacity: 0;
  }
}

.colorBoton {
  background-color: #e0ae09;
  color: rgb(14, 13, 13);
  font-size: 2rem;
  font-weight: bold;
  margin: 3px;
  padding: 8px;
}
.colorBoton:hover {
  background-color: #f8e10f;
}

.fondoImg {
  background-image: url(../img/FOTOSLOCAL/fondoUno.svg);
  border-radius: 10px;
  margin: 5px;
}

/*   el carrusel de imágenes */
.carousel-inner img {
  max-height: 500px;
  width: auto;
  margin: 0 auto;
}

.container {
  padding: 4rem 0;
}
.container .product-card {
  border: 1px solid #b69b03;
  margin: 16px;
  padding: 4rem;
  text-align: center;
  background-color: rgba(51, 49, 49, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .container .product-card:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 767px) {
  .container .product-card:hover {
    transform: none;
  }
}
.container .product-card img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.container .product-card img:hover {
  transform: scale(1.03);
}
.container .product-card h3 {
  color: #f8e10f;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container .product-card p {
  color: #f8e10f;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.container .product-card button {
  margin-top: auto;
}

/* Estilos para la página Ubicación */
/* Contenedor principal */
.ubicacion-container {
  text-align: center; /* Centrar contenido en desktop */
  margin-top: 20px;
}

/* Mapa */
.mapa {
  width: 100%; /* Ancho del mapa al 100% */
  height: 450px;
  margin: 16px; /* Margen responsive */
}

/* Texto de la dirección */
.textDireccion {
  text-align: center;
  font-size: 25px;
  margin: 16px;
  color: rgba(248, 224, 7, 0.6);
  font-weight: 600; /* Color para el título */
}

/* Contenedor de la dirección */
.contenedor-direccion {
  text-align: center; /* Alineación de la dirección */
  margin-top: 20px;
  margin: 16px;
  color: rgba(248, 224, 7, 0.6);
  font-weight: 400; /* Color para el contenido de la dirección */
}

/* Estilos para la lista de horarios */
dl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 16px;
}

dt {
  font-weight: bold;
  color: #f0cd06;
  font-size: 18px;
}

dd {
  margin: 0;
  color: #ebd406;
  font-size: 16px;
}

/* Horarios de atención */
.horarios {
  margin-left: 40px;
  margin: 16px; /* Margen responsive */
}

.horarios h3 {
  color: #d4a806;
  font-size: 3rem;
  margin-bottom: 10px;
}

.horarios p {
  font-size: 18px;
  margin: 5px 0;
  color: bisque;
}

@media (min-width: 768px) {
  .contacto-container {
    text-align: center;
  }
  .contacto-container .contacto-container .row {
    justify-content: space-between;
  }
  .contacto-container .contacto-container .row .contacto-container .col-lg-6 {
    width: 48%;
    margin-right: 2%;
  }
  .contacto-container .contacto-container .row .contacto-container .col-lg-6 .contacto-container .form-group {
    margin-bottom: 20px;
  }
  .contacto-container .contacto-container .row .contacto-container .col-lg-6 .contacto-container .form-group .contacto-container .btn {
    margin-top: 30px;
  }
}
/*  formulario */
/* Estilos para la imagen */
.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 16px;
}

/* Estilos para el formulario */
#contact-form {
  background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #f8e10f;
  margin: 16px;
}
#contact-form h2.mb-4 {
  color: #f8e10f;
  font-size: 4rem;
  font-weight: 400;
  font-weight: bold;
}
#contact-form .btn {
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out;
}
#contact-form .btn.btn-primary {
  background-color: #ca7607;
  border-color: #f1e312;
  font-size: 1.5rem;
  margin: 2px;
  padding: 8px;
}
#contact-form .btn.btn-secondary {
  background-color: #ca7607;
  border-color: #f1e312;
  font-size: 1.5rem;
  margin: 2px;
  padding: 8px;
}
#contact-form .btn:hover {
  background-color: #e0ae09;
}
#contact-form .form-group label {
  font-weight: bold;
  font-size: 2rem;
  color: rgba(248, 224, 7, 0.6);
}
#contact-form .form-control {
  margin-bottom: 10px;
  font-size: 1.6rem;
  padding: 10px;
}
#contact-form textarea.form-control {
  font-size: 1.6rem;
}

/*# sourceMappingURL=estilo.css.map */
