@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5% !important;
}

.ubicacion-container .textDireccion {
  color: #d4a806;
  font-size: 25px;
  margin: 16px;
}

.ubicacion-container .contenedor-direccion {
  text-align: center;
  font-size: 28px;
  margin: 16px;
  color: #d4a806;
  font-family: "Poppins", sans-serif;
}

/*comun*/
h1 {
  font-size: 45px;
  font-weight: bold;
  color: #f8e10f;
  margin-bottom: 20px;
  font-size: "Poppins", sans-serif;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #f8e10f;
  margin-bottom: 20px;
  font-size: "Poppins", sans-serif;
  text-align: center;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  color: #f8e10f;
  margin-bottom: 20px;
  font-size: 2rem;
}

footer {
  background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
  margin: 5px;
  padding: 15px 0;
  text-align: center;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3rem;
  color: rgba(248, 224, 7, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/FOTOSLOCAL/negroRadora.jpg);
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px;
}
body .error-container {
  text-align: center;
}
body .error-container .image-container {
  position: relative;
}
body .error-container .image-container img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
body .error-container .image-container img h1 {
  font-size: 3rem;
  color: #d9534f;
}
body .error-container .button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #eff15a;
  /* Color rojo */
  color: rgb(14, 13, 13);
  /* Texto en color blanco */
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  body .error-container {
    padding: 80px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  body .error-container {
    padding: 40px;
    font-size: 0.8rem;
    flex-direction: column;
  }
}

.container-fluid {
  margin-top: 0.5px;
  background-image: url(../img/FOTOSLOCAL/amaritriangulo.jpg);
  border-radius: 1rem;
  border-bottom: 8px #e0ae09 #e0ae09 solid;
}
.container-fluid a {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 60px;
  color: #f8e10f;
}
.container-fluid .logo {
  width: 180px;
}
.container-fluid .fuentesNav {
  font-size: 4rem;
  padding-left: 3rem;
  display: flex;
  justify-content: left;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 576px) {
  .container-fluid .fuentesNav {
    font-size: 4rem;
    padding-right: 5%;
  }
}
.container-fluid .nav-link active {
  color: rgba(248, 224, 7, 0.6);
}
.container-fluid .nav-link active .nav-link {
  color: rgba(248, 224, 7, 0.6);
}
@media screen and (max-width: 576px) {
  .container-fluid .paraCelular .navbar-nav .nav-link {
    font-size: 14px;
  }
}
.container-fluid .navbar {
  margin-bottom: 20px;
}
.container-fluid .navbar .navbar-nav .nav-link {
  font-size: 3rem;
  color: rgba(248, 224, 7, 0.6);
}
.container-fluid .menuTotal {
  font-size: 1rem;
  padding-left: 2rem;
  display: flex;
}
.container-fluid .dropdown-item {
  font-size: 2rem;
  background-color: #f8e10f;
}
.container-fluid .redes-sociales {
  margin-top: 30px;
  font-size: 50px;
  margin-inline-end: 60px;
  color: #f8f419;
}
.container-fluid .navbar-toggler-icon {
  background-color: rgba(248, 224, 7, 0.6);
  border-color: #f8e10f;
  color: rgb(14, 13, 13);
  width: 3rem;
  height: 3rem;
}

/*about*/
.texto-descriptivo {
  background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
  padding: 20px;
  border-radius: 10px;
  margin: 16px;
}
.texto-descriptivo h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.texto-descriptivo p {
  font-size: 15px, bold, "Poppins", sans-serif;
  line-height: 1.8;
  color: rgb(243, 241, 121);
  font-family: bold;
}

.custom-carousel {
  border-radius: 10px;
  margin: 30px 12px;
  overflow: hidden;
}
.custom-carousel .carousel-inner img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #f0cd06;
}

.video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.inicio-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 226, 113);
  text-align: center;
}

/*novedades*/
.texto-novedad {
  font-size: 2rem;
  line-height: 1.5;
  color: rgba(247, 216, 44, 0.9921568627);
}

.fecha-novedad {
  font-size: 1rem;
  color: #f8e10f;
}

.novedad {
  border: 1px solid rgba(248, 224, 7, 0.6);
  padding: 3rem;
  margin: 16px;
  text-align: center;
  background-color: rgba(54, 54, 54, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  align-items: center;
}
.novedad:hover {
  transform: scale(1.1);
}
@media (max-width: 767px) and (min-width: 576px) {
  .novedad {
    margin-top: 30px;
  }
}

.flash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(250, 232, 181, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flashAnimation 1s ease infinite;
}
.flash-overlay .flash-text {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(14, 13, 13);
  font-weight: bold;
  justify-content: center;
  display: flex;
  text-align: center;
}
@keyframes flashAnimation {
  0%, 25% {
    opacity: 0.2;
  }
  50%, 75% {
    opacity: 0;
  }
}

.colorBoton {
  background-color: #e0ae09;
  color: rgb(14, 13, 13);
  font-size: 2rem;
  font-weight: bold;
  margin: 3px;
  padding: 8px;
}
.colorBoton:hover {
  background-color: #f8e10f;
}

/*   el carrusel de imágenes */
.carousel-inner img {
  max-height: 500px;
  width: auto;
  margin: auto;
}

.fondoImg {
  background-image: url("../img/FOTOSLOCAL/fondoUno.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px;
  border-radius: 10px;
}
.fondoImg .textoHuno {
  color: #f8e10f;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.fondoImg .textoHuno .textoMensaje {
  color: rgb(14, 13, 13);
  font-size: 1.5rem;
  line-height: 1.6;
}

/* Estilos para los campos de entrada */
.form-floating {
  position: relative;
  margin-bottom: 20px;
}

/* Estilos para las etiquetas (labels) */
.form-floating label {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  color: #495057;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

/* Estilos para los campos de entrada */
.form-floating input.form-control {
  padding: 30px 5px 5x;
}
.form-floating input.form-control .form-floating input.form-control:focus + label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
}

.container {
  padding: 4rem 0;
}
.container .product-card {
  border: 1px solid #b69b03;
  margin: 16px;
  padding: 4rem;
  text-align: center;
  background-color: rgba(51, 49, 49, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .container .product-card:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 767px) {
  .container .product-card:hover {
    transform: none;
  }
}
.container .product-card img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.container .product-card img:hover {
  transform: scale(1.03);
}
.container .product-card h3 {
  color: #f8e10f;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container .product-card p {
  color: #f8e10f;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.container .product-card button {
  margin-top: auto;
}

.btn {
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out;
}
.btn.btn-primary {
  background-color: #ca7607;
  border-color: #f1e312;
  font-size: 1.5rem;
  margin: 2px;
  padding: 8px;
}
.btn.btn-secondary {
  background-color: #ca7607;
  border-color: #f1e312;
  font-size: 1.5rem;
  margin: 2px;
  padding: 8px;
}
.btn:hover {
  background-color: #e0ae09;
}

.ubicacion-container {
  text-align: center;
  margin-top: 16px;
}
.ubicacion-container .mapa {
  width: 95%;
  height: 450px;
  margin: 16px;
}
@media screen and (max-width: 768px) {
  .ubicacion-container .mapa {
    width: 100%;
    height: 300px;
    margin: 8px;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .ubicacion-container .mapa {
    height: 200px;
    margin: 4px;
  }
}
.ubicacion-container .contenedor-direccion {
  margin-top: 20px;
}

/* Contenedor de la dirección */
.contenedor-direccion {
  text-align: center;
  margin-top: 20px;
  margin: 16px;
  color: #f8e10f;
}

/* Horarios de atención */
.horarios {
  margin-left: 40px;
  margin: 16px;
}

.horarios h3 {
  color: rgba(248, 224, 7, 0.6);
  font-size: 28px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.horarios p {
  font-size: 18px;
  margin: 5px 0;
  color: bisque;
  text-align: center;
}

/*contacto*/
@media (min-width: 768px) {
  .contacto-container {
    text-align: center;
  }
  .contacto-container .contacto-container .row {
    justify-content: space-between;
  }
  .contacto-container .contacto-container .row .contacto-container .col-lg-6 {
    width: 48%;
    margin-right: 2%;
    margin-left: 2%;
  }
  .contacto-container .contacto-container .row .contacto-container .col-lg-6 .contacto-container .form-group {
    margin-bottom: 20px;
  }
  .contacto-container .contacto-container .row .contacto-container .col-lg-6 .contacto-container .form-group .contacto-container .btn {
    margin-top: 20px;
  }
}
/*  formulario */
/* Estilos para la imagen */
.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 16px;
}

/* Estilos para el formulario */
#contact-form {
  background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #f8e10f;
  margin: 16px;
}
#contact-form h2.mb-4 {
  color: #f8e10f;
  font-size: 4rem;
  font-weight: 400;
  font-weight: bold;
}
#contact-form .btn {
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out;
}
#contact-form .btn.btn-secondary .btn-primary {
  background-color: #ca7607;
  border-color: #f1e312;
  font-size: 1.5rem;
  margin: 2px;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}
#contact-form .btn:hover {
  background-color: #e0ae09;
}
#contact-form .form-group label {
  font-weight: bold;
  font-size: 2rem;
  color: rgba(248, 224, 7, 0.6);
}
#contact-form .form-control {
  margin-bottom: 10px;
  font-size: 1.6rem;
  padding: 10px;
}
#contact-form textarea.form-control {
  font-size: 1.6rem;
}

/*# sourceMappingURL=estilo.css.map */
