/*comun*/
h1 {
    @include textoTitulo(45px);
    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-poppins;
    text-align: center
}

h2 {

    @include textoTitulo(24px);


    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-poppins;
    text-align: center
}

h3 {
    @include textoTitulo(15px);
    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-size-base;
}



footer {
    background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
    margin: 5px;
    padding: 15px 0;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 3rem;
    color: $secondary-color;

}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/FOTOSLOCAL/negroRadora.jpg);
    font-size: $font-size-base;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;

    .error-container {
        text-align: center;

        .image-container {
            position: relative;

            img {
                display: block;
                max-width: 100%;
                height: auto;
                border-radius: 10px;

                h1 {
                    font-size: 3rem;
                    color: #d9534f;

                }
            }
        }

        .button {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 20px;
            background-color: #eff15a;
            /* Color rojo */
            color: $terciary-color;
            /* Texto en color blanco */
            text-decoration: none;
            border-radius: 5px;
            font-size: 1.2rem;
            z-index: 1;
        }


        @media screen and (max-width: 768px) {
            padding: 80px;
            font-size: $textMd;

            @media screen and (max-width: 576px) {
                padding: 40px;
                font-size: $textSm;
                flex-direction: column;

            }
        }
    }
}