h1 {
    @include textoTitulo(45px);
    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-poppins;
    text-align: center
}




h2 {

    @include textoTitulo(24px);


    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-poppins;
    text-align: center
}

h3 { @include textoTitulo(15px);
    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-size-base;
}



footer {
    background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
    margin: 5px;
    padding: 15px 0;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 3rem;

}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/FOTOSLOCAL/negroRadora.jpg);
    font-size: $font-size-base;
    margin: 0px;
    padding: 0px;
}