h1 {
    @include textoTitulo(45px);
    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-poppins;
    text-align: center
}

h2 {

    @include textoTitulo(24px);


    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-poppins;
    text-align: center
}

h3 {
    @include textoTitulo(15px);
    color: $primary-color;
    margin-bottom: $margin-bottom;
    font-size: $font-size-base;
}



footer {
    background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
    margin: 5px;
    padding: 15px 0;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 3rem;
    color: $terciary-color;

}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/FOTOSLOCAL/negroRadora.jpg);
    font-size: $font-size-base;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
}


body.error404 section {
    text-align: center;
    padding: 160px;
    background-color: #eee5e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $textXl;
    line-height: normal;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        padding: 80px;
        font-size: $textMd;
       
        @media screen and (max-width: 576px) {
            padding: 40px;
            font-size: $textSm;
            flex-direction: column;
           
        }
    }
}