/*contacto*/
@media (min-width: 768px) {
  .contacto-container {
    text-align: center;

    .contacto-container .row {
      justify-content: space-between;

      .contacto-container .col-lg-6 {
        width: 48%;
        margin-right: 2%;
        margin-left: 2%;


        .contacto-container .form-group {
          margin-bottom: 20px;

          .contacto-container .btn {
            margin-top: 20px;
          }
        }
      }
    }
  }
}




/*  formulario */

/* Estilos para la imagen */
.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 16px;
}



/* Estilos para el formulario */
#contact-form {
  background-image: url(../img/FOTOSLOCAL/fondoAmarillo.jpg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px $primary-color;
  margin: 16px;



  h2.mb-4 {
    color: $primary-color;
    font-size: $textXxl;
    font-weight: 400;
    font-weight: bold;
  }

  .btn {
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;

    &.btn-secondary .btn-primary {
      background-color: #ca7607;
      border-color: #f1e312;
      font-size: 1.5rem;
      margin: 2px;
      padding: 8px;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      cursor: pointer;
    }

    &:hover {
      background-color: #e0ae09;
    }
  }



  .form-group label {
    font-weight: bold;
    font-size: 2rem;
    color: $secondary-color;
  }

  .form-control {
    margin-bottom: 10px;
    font-size: 1.6rem;
    padding: 10px;
  }

  textarea.form-control {
    font-size: 1.6rem;
  }
}