/*novedades*/

// Estilo específico para el texto dentro de la tarjeta de novedades
.texto-novedad {
    font-size: $textXl;
    line-height: 1.5;
    color: $light-text;
  }
  
  // Estilo específico para la fecha de la tarjeta de novedades
  .fecha-novedad {
    font-size: $textMd;
    color: $primary-color;
  }
 
  .novedad {
    @include novedad-card-style;
  }
  
  .flash-overlay {
    @include flash-overlay-style;
  }
  
  
  
  .colorBoton {
    @include color-boton-style;
  }
  
  .fondoImg {
    @include fondo-img-style;
  }
  /*   el carrusel de imágenes */
.carousel-inner img {
    max-height: 500px;
    width: auto;
    margin: 0 auto;
}
