// Variables generales
$background-img: url(../img/FOTOSLOCAL/negroRadora.jpg);
$font-size-base: 2rem;
$primary-color: #f8e10f;
$secondary-color: rgba(248, 224, 7, 0.6);
$terciary-color: rgb(14, 13, 13);
$border-color: $secondary-color;
$dark-bg: rgba(54, 54, 54, 0.6);
$light-bg: rgba(245, 243, 230, 0.925);
$light-text: #f7d82cfd;
$container-padding: 20px;
$border-radius: 10px;
$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
$hover-bg: #e0ae09;

// Variables de fuente
$font-family: 'Roboto', sans-serif;
$font-poppins: 'Poppins', sans-serif;


// Variables de tamaño
$logo-width: 180px;
$container-margin: 16px;
$margin-bottom: 20px;
$margin-top: 16px;
$text-align-center: center;
$text-align-left: left;
$textSm: 0.8rem;
$textMd: 1rem;
$textXl: 2rem;
$textXxl: 4rem;
$tamaño: 15px;
$fontW: bold;

$navbar-link-color: $primary-color ;
$navbar-toggler-bg: $secondary-color ;
$navbar-toggler-size: 3rem;
$navbar-fuentes-size: 2rem;
$navbar-fuentes-padding-left: 3rem;